@using React.AspNet
<!DOCTYPE html>
<html>
<head>
	@Html.Raw(ViewBag.HelmetTitle)
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/Sample.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
	@Html.Raw(ViewBag.ServerStyles)
	@* Beta feature: call @Html.ReactGetStylePaths() to get all style tags *@
</head>
<body>
	@RenderBody()
	@* Beta feature: call @Html.ReactGetScriptPaths() to get all style tags *@
	<script src="/dist/runtime.js"></script>
	<script src="/dist/vendor.js"></script>
	<script src="/dist/main.js"></script>
	@Html.ReactInitJavaScript()
</body>
</html>
